<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client Form</title>
</head>
<body>
<h2>Client Form</h2>
<form th:action="@{/saveClient}" th:object="${client}"method="post">
    <label for="nume">Nume:</label><br>
    <input type="text" id="nume" name="nume" th:field="*{nume}" required><br><br>

    <label for="prenume">Prenume:</label><br>
    <input type="text" id="prenume" name="prenume" th:field="*{prenume}" required><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>